<mjml>
  <mj-body background-color="#FFFFFF">
    <mj-section background-color="#FFFFFF">
      <mj-column>
        <mj-text font-family="Arial, Helvetica, Sans serif" align="left" font-size="13px" line-height="19px" padding-top="40px" padding-bottom="0px"> Hi {contactfield=firstname},<br /><br />Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus facilisis in ante eu ultricies. Curabitur efficitur velit eu interdum dignissim. Mauris porttitor eget nisi in hendrerit. Aliquam ornare porta vestibulum. Nullam ornare eros vel lacus feugiat posuere. Vivamus auctor eleifend ex eleifend semper. <br /><br />-- </mj-text>
      </mj-column>
    </mj-section>
    <mj-section background-color="#FFFFFF">
      <mj-column>
        <mj-text css-class="slot-text" font-family="Arial, Helvetica, Sans serif" align="left" font-size="13px" line-height="19px" padding-top="0px" padding-bottom="30px">
          <table>
            <tr>
              <td width="100px">
                <img src="https://webmecanik.automation.webmecanik.com/media/images/people.png" width="75px" />
              </td>
              <td style="font-family:Arial, Helvetica, Sans serif;font-size:13px;line-height:19px;">
                <strong>Elon Musk</strong>
                <br />Tesla <br />
                <br />Chief Executive Officer <br />+33 6 01 02 03 04 </td>
            </tr>
          </table>
        </mj-text>
      </mj-column>
    </mj-section>
  </mj-body>
</mjml>
