<mjml>
  <mj-body background-color="#F5F5F5">
    <mj-section css-class="slot-section" padding-top="0" padding-bottom="10px" border-bottom="1px solid #9A9A9A" background-color="#F5F5F5">
      <mj-column css-class="slots">
        <mj-text css-class="slot-text" font-family="Arial, Sans serif" align="center" font-size="10px" line-height="14px" padding-bottom="0px" color="#666666"><a href="{webview_url}" style="text-decoration:none;color:inherit;" target="_blank">View this email in your browser.</a></mj-text>
      </mj-column>
    </mj-section>

    <mj-section css-class="slot-section" padding-top="20px" padding-bottom="0px" background-color="#FFFFFF" border-right="1px solid #9A9A9A" border-left="1px solid #9A9A9A">
      <mj-column css-class="slots">
        <mj-image css-class="slot-image" src="https://webmecanik.automation.webmecanik.com/media/images/logo.jpg" href="https://www.webmecanik.com" width="200px" alt="My company logo"></mj-image>
      </mj-column>
    </mj-section>

    <mj-section css-class="slot-section" padding-top="10px" padding-bottom="10px" background-color="#FFFFFF" border-right="1px solid #9A9A9A" border-left="1px solid #9A9A9A">
      <mj-column css-class="slots">
        <mj-text css-class="slot-text" font-family="Arial, Sans serif" align="center" font-size="28px" line-height="32px" padding-bottom="20px" font-weight="700">
          Download your guide now!
        </mj-text>
        <mj-image css-class="slot-image" src="https://webmecanik.automation.webmecanik.com/media/images/banner.jpeg" href="https://www.webmecanik.com" width="600px" padding="0" fluid-on-mobile="true" alt="Hero banner"></mj-image>
        <mj-text css-class="slot-text" font-family="Arial, Sans serif" align="center" font-size="14px" line-height="18px" padding-top="40px" padding-bottom="30px">
          Hi {contactfield=firstname},<br/>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus facilisis in ante eu ultricies. Curabitur efficitur velit eu interdum dignissim. Mauris porttitor eget nisi in hendrerit. Aliquam ornare porta vestibulum. Nullam ornare eros vel lacus feugiat posuere. Vivamus auctor eleifend ex eleifend semper.
        </mj-text>
        <mj-button css-class="slot-button" font-family="Arial, Sans serif" align="center" font-size="14px" line-height="18px" href="https://www.webmecanik.com" padding-bottom="30px">Download now</mj-button>
      </mj-column>
    </mj-section>

    <mj-section css-class="slot-section" padding-top="10px" border-top="1px solid #9A9A9A" background-color="#F5F5F5">
      <mj-column css-class="slots">
        <mj-text css-class="slot-text" font-family="Arial, Sans serif" align="center" padding-bottom="0px" color="#666666" font-size="17px" line-height="21px" font-weight="700">
          Get more news from us from social networks
        </mj-text>
        <mj-social css-class="slot-text" font-size="10px" icon-size="20px" mode="horizontal" padding-top="20px">
          <mj-social-element name="facebook-noshare" href="https://www.webmecanik.com">
          </mj-social-element>
          <mj-social-element name="twitter-noshare" href="https://www.webmecanik.com">
          </mj-social-element>
          <mj-social-element name="linkedin-noshare" href="https://www.webmecanik.com">
          </mj-social-element>
          <mj-social-element name="youtube" href="https://www.webmecanik.com">
          </mj-social-element>
          <mj-social-element name="web" href="https://www.webmecanik.com">
          </mj-social-element>
        </mj-social>
        <mj-text css-class="slot-text" color="#666666" font-family="Arial, Sans serif" align="center" font-size="10px" line-height="14px">My company
          <br />Postal address - Zipcode and city - Country
          <br /> If you don't want to receive more marketing message from us, <a class="mj-content" href="{unsubscribe_url}" style="text-decoration:none;color:inherit;" target="_blank">click here</a> to manage your subscription preferences.</mj-text>
      </mj-column>
    </mj-section>
  </mj-body>
</mjml>
